<div>
    <form method="POST" action="/agentsresult" name= "search_form">
        Registered Properties At Least:
        <select name = "pall">
            <option value = "0">0</option>
            <option value = "2">2</option>
            <option value = "4">4</option>
            <option value = "6">6</option>
            <option value = "8">8</option>
            <option value = "10">10</option>
        </select><br/>
        On Sale Properties At least:
        <select name = "psale">
            <option value = "0">0</option>
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
            <option value = "6">6</option>
            <option value = "7">7</option>
            <option value = "8">8</option>
            <option value = "9">9</option>
        </select><br/>
        Sold Properties At least::
        <select name = "psold">
            <option value = "0">0</option>
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
        </select><br/>
        Minimum Average List Price:
        <select name = "min_avglpr">
            <option value = "0">0</option>
            <option value = "700000">700000</option>
            <option value = "750000">750000</option>
            <option value = "800000">800000</option>
        </select><br/>
        Maximum Average List Price:
        <select name = "max_avglpr">
            <option value = "2000000">2000000</option>
            <option value = "1200000">1200000</option>
            <option value = "1100000">1100000</option>
            <option value = "1000000">1000000</option>
        </select><br/>
        Minimum Average Sold Price:
        <select name = "min_avgspr">
            <option value = "0">0</option>
            <option value = "700000">700000</option>
            <option value = "750000">750000</option>
            <option value = "800000">800000</option>
        </select><br/>
        Maximum Average Sold Price:
        <select name = "max_avgspr">
            <option value = "2000000">2000000</option>
            <option value = "1200000">1200000</option>
            <option value = "1100000">1100000</option>
            <option value = "1000000">1000000</option>
        </select><br/>
        <input type = "submit" value = "Search Agents">
    </form>
</div>
