<!DOCTYPE html>
<html>
<title>NYC Real Estate</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body, html {height: 100%}
.bgimg {
    background-image: url('http://cdn-img.instyle.com/sites/default/files/1471540529/081816-new-york-city.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>

<body>
<div class="bgimg w3-display-container w3-text-golden w3-center">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-text-deep-orange">NYC REAL ESTATE</h1>
        <h1 class="w3-large w3-center w3-text-pink w3-wide"><b>Make Your Dreams Come True</b></h1>
        <a href="/buyer"><button class="w3-btn w3-round w3-khaki"><b>BUYER</b></button></a>
        <a href="/agentlogin"><button class="w3-btn w3-round w3-teal"><b>AGENT</b></button></a>
    </div>
</div>
</body>
</html>